.ppms-flex-div{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 15px;
    border-top: 2px solid gray;
}

.ppms-width-div{
    width: 100%;
}

.ppms-main-div{
    display: flex;
    /* align-items: center; */
}

.ppms-main-div-one{
    width: 100%;
}

.ppms-main-div-two{
    /* width: 30%; */
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ppms-main-div-sub-div-two button{
    border: 2px solid rgb(49,163,214);
    color: rgb(49,163,214);
    font-size: 26px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    width: 320px;
}
.hexagone-svg{
    height: 40px;
    width: 40px;
}
.treatment-details-main-div-one{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* gap: 40px; */
    height: 45px;
    padding-top: 20px;
}
.treatment-details-main-div-one-sub-one{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* gap: 40px; */
    height: 45px;
    padding-left: 55px;
}
.down-arrow-svg-in-treat{
    height: 20px;
    width: 20px;
}
.header-name-in-treat{
    font-size: 30px;
    padding-right: 20px;

}

.treat-ment-sub-parts{
    display: block;
    border-left: 1 px solid black;
}
.header-name-in-treat-sub-sec{
    padding-left: 15px;
}
.hexa-div-in-treat{
    padding-left: 15px;
    padding-right: 20px;
}

.treat-sub-header-main-div{
    display: flex;
    align-items: center;
}

.filled-circle-svg-in-treat{
    height: 40px;
    width: 40px;
    padding-left: 20px;
    padding-right: 8px;
}

.treat-sub-header-font-tag p{
    font-size: 18px;
    font-weight: 600;
    padding-right: 20px;
}


.ppms-top-text-area-main-flex-div{
    display: flex;
}

.ppms-top-text-area-main-width-div{
    width: 100%;
}
.ppms-top-text-area-main-div{
    display: flex;
}
.ppms-top-text-area-sub-div-one{
    width: 30%;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 200px;
}
.ppms-top-text-area-sub-div-two{
    width: 70%;
    border-bottom: 1px solid gray;
}
.text-area-sub-one{
    background-color: #80808029;
    width: 300px;
    /* justify-content: end; */
    text-align: right;
    /* padding-left: 20px; */
    margin-left: 200px;
    padding: 15px;
    border-radius: 20px;
    color: gray;
    font-weight: 600;
}

.text-area-sub-two{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    gap: 15px;
}
.text-area-sub-two-div-one{
    display: flex;
    background-color: #80808029;
    /* padding: 15px; */
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    width: 75px;
    justify-content: center;
    gap: 5px;
}
.text-area-sub-two-div-one{
    display: flex;
}
.text-area-sub-two-div-one p{
    color:rgb(49,163,214) ;
    font-weight: 600;

}

.ppms-full-screen-display-div{
    display: block;
    width: 100%;
}

.ppms-main-screen-div-two{
    display: flex;
    justify-content: center;
    /* padding-top: 15px; */
}

.ppms-main-screen-width{
    width: 100%;
}

.ppms-main-screen-flex-display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ppms-main-screen-sub-div-one{
    width: 100%;
}
.ppms-main-screen-sub-div-two{
    width: 100%;
}
.ppms-main-screen-sub-div-three{
    width: 100%;
}

.xyz{
    display: flex;
}

.ppms-main-scr-div-three-for-flex{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.ppms-main-scr-div-three-for-width{
    width: 100%;
}

.ppms-main-scr-div-three-for-main{
    border-bottom: 2px solid gray;
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

.ppms-main-scr-div-three-for-main p{
    color: gray;
    font-weight: 600;
    cursor: pointer;
    line-height: 0;
}

.ppms-main-scr-div-four-for-flex{
    display: flex;
    justify-content: center;
    margin-bottom: -110px;
}
.ppms-main-scr-div-four-for-width{
    width: 100%;
}
.ppms-main-scr-div-four-for-main{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.age-and-graph-main-div{
    display: block;
}

.age-and-graph-sub-div-one{
    display: flex;
    justify-content: center;
}

.age-and-graph-sub-div-one-div-one{
    /* width: 50%; */
}
.age-and-graph-sub-div-one-div-two{
    /* width: 50%; */
}

.doughnut-for-gender-and-age-flex-div{
    display: flex;
    justify-content: center;
}

.doughnut-for-gender-and-age-width-div{
    width: 100%;
}
.doughnut-for-gender-and-age-main-div{
    display: block;
}

.ppms-main-scr-div-five-for-flex{
    display: flex;
    justify-content: center;
}
.ppms-main-scr-div-five-for-width{
    width: 100%;
}
.ppms-main-scr-div-five-for-main{
    background-color: #80808029;
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 125px;
}
.ppms-scr-five-sub-one{
    display: block;
}

.ppms-scr-five-sub-one-part-one{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    line-height: 1;
    margin-bottom: 15px;
    width: 100%;
}

.ppms-scr-five-sub-one-part-one p{
    color: rgb(69,201,154);
    font-weight: 500;
}