.personal-patient-list-home-flex-div{
    display: flex;
    justify-content: center;
}
.personal-patient-list-width-div{
    width: 100%;
}

.personal-patient-list-main-div-one{
    width: 12%;
}   
.personal-patient-list-main-div-two{
    width: 88%;
}
.personal-patient-list-flex-main-div{
    display: flex;
}